*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
@media only screen and (max-width: 800px){
	p {
		background-color: blue;
	}
}
h3{
	text-transform: uppercase;
	font-weight: 300px;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
